<header>
  <h1 class="main-heading">RunBuddy</h1>
  <figure>
    <%= image_tag 'logos/runbuddy-logo-sm.png', alt: 'RunBuddy Logo' %>
  </figure>
  <nav class="row">
    <% if user_signed_in? %>
    <div class="col-md-6 welcome-message">
      <h2>
        Hello <%= current_user.profile.first_name %>!
      </h2>
    </div>
    <div class="col-md-6 nav-menu-options">
      <%= link_to 'Logout', destroy_user_session_path, method: :delete  %>
    </div>
    <% end %>
  </nav>
</header>
